<!DOCTYPE html>
<html lang="{{#page.language}}{{page.language}}{{/page.language}}{{^page.language}}{{site.language}}{{/page.language}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{#page.theme_color}}{{page.theme_color}}{{/page.theme_color}}{{^page.theme_color}}{{site.theme_color}}{{/page.theme_color}}">
    
    <title>{{page.title}} - {{site.name}}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="author" content="{{site.contact.name}}">
    <link rel="canonical" href="{{page.permalink}}">
    {{#page.hreflang_code}}<link rel="alternate" hreflang="{{page.hreflang_code}}" href="{{page.permalink}}">{{/page.hreflang_code}}
    {{#page.is_home}}
    <link rel="alternate" hreflang="en" href="{{baseUrl}}/en/">
    <link rel="alternate" hreflang="zh" href="{{baseUrl}}/zh/">
    <link rel="alternate" hreflang="hi" href="{{baseUrl}}/hi/">
    <link rel="alternate" hreflang="es" href="{{baseUrl}}/es/">
    <link rel="alternate" hreflang="fr" href="{{baseUrl}}/fr/">
    <link rel="alternate" hreflang="hu" href="{{baseUrl}}/hu/">
    <link rel="alternate" hreflang="x-default" href="{{baseUrl}}/en/">
    {{/page.is_home}}
    {{#page.is_privacy}}
    <link rel="alternate" hreflang="en" href="{{baseUrl}}/en/vizallas/privacy/">
    <link rel="alternate" hreflang="hu" href="{{baseUrl}}/hu/vizallas/privacy/">
    <link rel="alternate" hreflang="x-default" href="{{baseUrl}}/en/vizallas/privacy/">
    {{/page.is_privacy}}
    <link rel="icon" href="{{baseUrl}}{{site.logo}}" type="image/png">
    
    <meta property="og:url" content="{{page.permalink}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{site.name}}">
    <meta property="og:title" content="{{page.title}} - {{site.name}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{baseUrl}}{{site.logo}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{page.permalink}}">
    <meta name="twitter:title" content="{{page.title}} - {{site.name}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="{{baseUrl}}{{site.logo}}">
    
    <link rel="stylesheet" href="{{baseUrl}}/css/theme.css">
    <link rel="stylesheet" href="{{baseUrl}}/css/style.css">
    {{#page.css}}<link rel="stylesheet" href="{{.}}">{{/page.css}}
</head>

<body>
    {{> partials.header}}
        
    <main>
    {{$main}}{{/main}}
    </main>

    {{> partials.footer}}
    
    {{#page.js}}<script src="{{.}}" async></script>{{/page.js}}
</body>
</html>
