<!DOCTYPE html>
<html lang="{{#page.language}}{{page.language}}{{/page.language}}{{^page.language}}{{site.language}}{{/page.language}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{#page.theme_color}}{{page.theme_color}}{{/page.theme_color}}{{^page.theme_color}}{{site.theme_color}}{{/page.theme_color}}">
    
    <title>{{page.title}} - {{site.name}}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="author" content="{{site.contact.name}}">
    <link rel="canonical" href="{{page.permalink}}">
    {{#page.alternate_languages}}<link rel="alternate" hreflang="{{code}}" href="{{baseUrl}}{{url}}">{{/page.alternate_languages}}
    {{#page.x_default_url}}<link rel="alternate" hreflang="x-default" href="{{baseUrl}}{{page.x_default_url}}">{{/page.x_default_url}}
    <link rel="icon" href="{{baseUrl}}{{site.logo}}" type="image/png">
    
    <meta property="og:url" content="{{page.permalink}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{site.name}}">
    <meta property="og:title" content="{{page.title}} - {{site.name}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{baseUrl}}{{site.logo}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{page.permalink}}">
    <meta name="twitter:title" content="{{page.title}} - {{site.name}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="{{baseUrl}}{{site.logo}}">
    
    <link rel="stylesheet" href="{{baseUrl}}/css/theme.css">
    <link rel="stylesheet" href="{{baseUrl}}/css/style.css">
    {{#page.css}}<link rel="stylesheet" href="{{.}}">{{/page.css}}
</head>

<body class="{{#page.language_code}}lang-{{page.language_code}}{{/page.language_code}}">
    {{> partials.header}}
        
    <main>
    {{$main}}{{/main}}
    </main>

    {{> partials.footer}}
    
    {{#page.js}}<script src="{{.}}" async></script>{{/page.js}}
</body>
</html>
